<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <textarea rows="4" cols="50" id="ca" name="burger_name"> </textarea><br>
     <label for="ca">Enter Name of the Burger you want to Eat</label>
  </div>
  <button class="btn btn-primary" type="submit">Add a Burger</button>
</form>



<h2>Burgers Ready to eat</h2>

<div id="center">
<ul class="list-group">
  {{#each burgers}}
    {{#unless this.devoured}}
      <li class="list-group-item">
        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          {{this.burger_name}}
          <input type="hidden" name="devoured" value="true">
          <button class="btn btn-primary" type="submit">Devour it!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>
</div>

<h2>Burgers Already Devoured</h2>
<div id="center">
<ul class="list-group" class="list-inline center-block text-center">
  {{#each burgers}}
    {{#if this.devoured}}
      <li class="list-group-item disabled">
        {{this.burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>
 


